.UserForm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.UserInput {
    padding: 20px;
    font-size: 1.5em;
    border: 0;
    border-bottom: 2px solid #ccc;
    min-width: 510px;
    color: #00aabb;
}

.UserInput:focus {
    outline: none;
    border-color: #00aabb;
}